* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Gill Sans", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    border: 2px solid black
}

nav {
    display: flex;
    border: 2px solid black
}

.nav-links {
    display: flex;
    list-style: none;
    border: 2px solid black;
    font-size: 16px;
    gap: 2%;
}

.link {
    display: flex;
    flex: 0 0 auto;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
}

h2,
h3,
h4, {
    margin: 5%
    width: 25vw;
    text-align: right;
}

footer {
    display: flex;
}